<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.dafacloud.mapper.apiContent.ApiContentMapper">
    <select id="queryApiBatchTest" resultType="pers.dafacloud.model.ApiContent" flushCache="true" useCache="true">
        select
        id id
        ,name apiName
        ,path path
        ,method method
        ,body reqParametersArray
        ,header headerArray
        ,module module
        ,cms_front cmsFront
        ,project project
        ,description description
        ,owner owner
        ,response_body responseBody

        ,dePath dePath
        ,deMethod deMethod
        ,deReqParametersArray deReqParametersArray
        ,deReturnValue deReturnValue

        ,dePath2 dePath2
        ,deMethod2 deMethod2
        ,deReqParametersArray2 deReqParametersArray2
        ,deReturnValue2 deReturnValue2

        ,groups_api groupsApi

        ,sort sort

        from dafacloud_lottery_api
        where groups_api like CONCAT(CONCAT('%',#{groupsApi}),'%')
        and owner = #{owner}
        order by sort asc,id desc
    </select>

    <select id="queryApi" parameterType="java.util.Map"
            resultType="pers.dafacloud.model.ApiContent" flushCache="true" useCache="true">
        select
        id id
        ,`name` apiName
        ,path path
        ,method method
        ,body reqParametersArray
        ,header headerArray
        ,`module` module
        ,cms_front cmsFront
        ,project project
        ,description description
        ,owner owner
        ,response_body responseBody

        ,dePath dePath
        ,deMethod deMethod
        ,deReqParametersArray deReqParametersArray
        ,deReturnValue deReturnValue

        ,dePath2 dePath2
        ,deMethod2 deMethod2
        ,deReqParametersArray2 deReqParametersArray2
        ,deReturnValue2 deReturnValue2

        ,groups_api groupsApi

        ,sort sort

        from dafacloud_lottery_api
        <where>
            <if test="apiName!=null and apiName!=''">
                AND name like CONCAT(CONCAT('%',#{apiName}),'%')
            </if>
            <if test="owner!=null and owner!='' ">
                AND owner = #{owner}
            </if>
            <if test="module!=null and module!=''">
                AND module = #{module}
            </if>
            <if test="cmsFront!=null and cmsFront != '' and cmsFront!=-1">
                AND cms_front = #{cmsFront}
            </if>
            <if test="path!=null and path!=''">
                AND path like CONCAT(CONCAT('%',#{path}),'%')
            </if>
            <if test="project!=null and project!='' and project!=-1 ">
                AND project = #{project}
            </if>
            <if test="groupsApi!=null and groupsApi!='' ">
                AND groups_api like CONCAT(CONCAT('%',#{groupsApi}),'%')
            </if>
            <if test="sort!=null and sort!=''">
                AND sort like CONCAT(CONCAT(#{sort}),'%')
            </if>
        </where>
        order by sort asc,id desc
        limit #{pageNum},#{pageSize}
    </select>


    <select id="queryApiCount" parameterType="pers.dafacloud.model.ApiContent" resultType="java.lang.Integer"
            flushCache="true" useCache="true">
        select count(1) from dafacloud_lottery_api
        <where>
            <if test="apiName!=null and apiName!=''">
                AND name like CONCAT(CONCAT('%',#{apiName}),'%')
            </if>
            <if test="owner!=null and owner!='' ">
                AND owner = #{owner}
            </if>
            <if test="module!=null and module!=''">
                AND module = #{module}
            </if>
            <if test="cmsFront!=null and cmsFront != '' and  cmsFront!=-1">
                AND cms_front = #{cmsFront}
            </if>
            <if test="path!=null and path!=''">
                AND path like CONCAT(CONCAT('%',#{path}),'%')
            </if>
            <if test="project!=null and project!='' and  project!=-1 ">
                AND project = #{project}
            </if>
            <if test="groupsApi!=null and groupsApi!='' and groupsApi!=-1 ">
                AND groups_api = #{groupsApi}
            </if>
            <if test="sort!=null and sort!=''">
                AND sort like CONCAT(CONCAT(#{sort}),'%')
            </if>
        </where>
    </select>

    <update id="updateApi" parameterType="pers.dafacloud.model.ApiContent">
		update dafacloud_lottery_api set
		  name = #{apiName}
		  ,path = #{path}
		  ,method = #{method}
		  ,description = #{description}
		  ,body = #{reqParametersArray}
		  ,header = #{headerArray}
		  ,module = #{module}
		  ,cms_front = #{cmsFront}
		  ,project = #{project}
		  ,owner = #{owner}
		  ,response_body = #{responseBody}

		  ,dePath = #{dePath}
          ,deMethod = #{deMethod}
          ,deReqParametersArray = #{deReqParametersArray}
          ,deReturnValue = #{deReturnValue}

          ,dePath2 = #{dePath2}
          ,deMethod2 = #{deMethod2}
          ,deReqParametersArray2 = #{deReqParametersArray2}
          ,deReturnValue2 = #{deReturnValue2}

          ,groups_api = #{groupsApi}
          ,sort = #{sort}
		  where id = #{id}
	</update>

    <insert id="addApi" parameterType="pers.dafacloud.model.ApiContent" keyProperty="id">
		insert into dafacloud_lottery_api(
		    name
            ,path
            ,method
            ,body
            ,description
            ,header
            ,module
            ,cms_front
            ,project
            ,owner
            ,response_body

            ,dePath
            ,deMethod
            ,deReqParametersArray
            ,deReturnValue

            ,dePath2
            ,deMethod2
            ,deReqParametersArray2
            ,deReturnValue2

            ,groups_api
            ,sort
		)values (
			#{apiName}
            ,#{path}
            ,#{method}
            ,#{reqParametersArray}
            ,#{description}
            ,#{headerArray}
            ,#{module}
            ,#{cmsFront}
            ,#{project}
            ,#{owner}
            ,#{responseBody}

            ,#{dePath}
            ,#{deMethod}
            ,#{deReqParametersArray}
            ,#{deReturnValue}

            ,#{dePath2}
            ,#{deMethod2}
            ,#{deReqParametersArray2}
            ,#{deReturnValue2}

            ,#{groupsApi}
            ,#{sort}
		)
	</insert>

    <insert id="cloneApi" parameterType="java.lang.Integer" keyProperty="id">
		INSERT dafacloud_lottery_api (
                NAME,
                path,
                method,
                body,
                description,
                header,
                module,
                cms_front,
                project,
                OWNER,
                response_body,
                dePath,
                deMethod,
                deReqParametersArray,
                deReturnValue,

                dePath2,
                deMethod2,
                deReqParametersArray2,
                deReturnValue2,

                groups_api,
                sort
            ) SELECT
                NAME,
                path,
                method,
                body,
                description,
                header,
                module,
                cms_front,
                project,
                OWNER,
                response_body,
                dePath,
                deMethod,
                deReqParametersArray,
                deReturnValue,

                dePath2,
                deMethod2,
                deReqParametersArray2,
                deReturnValue2,

                groups_api,
                sort
            FROM
                dafacloud_lottery_api
            WHERE
                id = #{id}
	</insert>

    <delete id="deleteApi" parameterType="int">
        delete from dafacloud_lottery_api where id = #{id}
    </delete>


</mapper>