<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间，用于隔离sql语句的，后续会有重要作用
	#{} 占位符 相当于jdbc的？
	${} 是字符串拼接指令，如果入参为普通数据类型{}内部只能写value
-->
<mapper namespace="pers.dafacloud.dao.mapper.apiContent.ApiContentMapper">
    <!--
        id : sql id;
        parameterType:入参的数据类型
        resultType:返回结果数据类型
     -->
    <select id="queryApi" parameterType="pers.dafacloud.dao.pojo.ApiContent"
            resultType="pers.dafacloud.dao.pojo.ApiContent" flushCache="true" useCache="true">
        select
        id id
        ,name apiName
        ,path path
        ,method method
        ,body reqParametersArray
        ,header headerArray
        ,depend_api_name dependApiName
        ,module module
        ,cms_front cmsFront
        ,project project
        ,description description
        ,owner owner
        ,response_body responseBody
        from dafacloud_lottery_api
        <where>
            <if test="apiName!=null and apiName!=''">
                AND name like CONCAT(CONCAT('%',#{apiName}),'%')
            </if>
            <if test="owner!=null and owner!='' ">
                AND owner = #{owner}
            </if>
            <if test="module!=null and module!=''">
                AND module = #{module}
            </if>
            <if test="cmsFront!=null and cmsFront != '' and cmsFront!=-1">
                AND cms_front = #{cmsFront}
            </if>
            <if test="path!=null and path!=''">
                AND path like CONCAT(CONCAT('%',#{path}),'%')
            </if>
            <if test="project!=null and project!='' and project!=-1 ">
                AND project = #{project}
            </if>
        </where>
        order by id desc
        limit #{pageNum},#{pageSize}
    </select>

    <select id="queryApiCount" parameterType="pers.dafacloud.dao.pojo.ApiContent" resultType="java.lang.Integer"
            flushCache="true" useCache="true">
        select count(1) from dafacloud_lottery_api
        <where>
            <if test="apiName!=null and apiName!=''">
                AND name like CONCAT(CONCAT('%',#{apiName}),'%')
            </if>
            <if test="owner!=null and owner!='' ">
                AND owner = #{owner}
            </if>
            <if test="module!=null and module!=''">
                AND module = #{module}
            </if>
            <if test="cmsFront!=null and cmsFront != '' and  cmsFront!=-1">
                AND cms_front = #{cmsFront}
            </if>
            <if test="path!=null and path!=''">
                AND path like CONCAT(CONCAT('%',#{path}),'%')
            </if>
            <if test="project!=null and project!='' and  project!=-1 ">
                AND project = #{project}
            </if>
        </where>
    </select>

    <update id="updateApi" parameterType="pers.dafacloud.dao.pojo.ApiContent">
		update dafacloud_lottery_api set
		  name = #{apiName}
		  ,path = #{path}
		  ,method = #{method}
		  ,description = #{description}
		  ,body = #{reqParametersArray}
		  ,header = #{headerArray}
		  ,depend_api_name = #{dependApiName}
		  ,module = #{module}
		  ,cms_front = #{cmsFront}
		  ,project = #{project}
		  ,owner = #{owner}
		  ,response_body = #{responseBody}
		  where id = #{id}
	</update>

    <insert id="addApi" parameterType="pers.dafacloud.dao.pojo.ApiContent" keyProperty="id">
		insert into dafacloud_lottery_api(
		    name
            ,path
            ,method
            ,body
            ,description
            ,header
            ,depend_api_name
            ,module
            ,cms_front
            ,project
            ,owner
            ,response_body
		)values (
			#{apiName}
            ,#{path}
            ,#{method}
            ,#{reqParametersArray}
            ,#{description}
            ,#{headerArray}
            ,#{dependApiName}
            ,#{module}
            ,#{cmsFront}
            ,#{project}
            ,#{owner}
            ,#{responseBody}
		)
	</insert>

    <delete id="deleteApi" parameterType="int">
        delete from dafacloud_lottery_api where id = #{id}
    </delete>


</mapper>