<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="betGameContent" class="pers.dafacloud.entities.BetGameContent">
        <property name="content">
            <list>
                <value>{"proto" : 700,"data" : { "issue":"%s", "bettingPoint": %s,"betReqInfo": [{"pos" :1, "bettingAmount": [1,5,10,50,100] }]}}</value>
                <value>{"proto" : 700,"data" : { "issue":"%s", "bettingPoint": %s,"betReqInfo": [{"pos" :2, "bettingAmount": [1,5,10,50,100] }]}}</value>
                <value>{"proto" : 700,"data" : { "issue":"%s", "bettingPoint": %s,"betReqInfo": [{"pos" :3, "bettingAmount": [1,5,10,50,100] }]}}</value>
                <!--<value>{"proto" : 700,"data" : { "issue":"%s", "bettingPoint": %s,"betReqInfo": [{"pos" :4, "bettingAmount": [1,5,10,50,100] }]}}</value>-->
                <!--<value>{"proto" : 700,"data" : { "issue":"%s", "bettingPoint": %s,"betReqInfo": [{"pos" :5, "bettingAmount": [1,5,10,50,100] }]}}</value>-->
                <!--<value>{"proto" : 700,"data" : { "issue":"%s", "bettingPoint": %s,"betReqInfo": [{"pos" :6, "bettingAmount": [1,5,10,50,100] }]}}</value>-->
            </list>
        </property>
    </bean>

    <bean id="user" class="pers.dafacloud.entities.User">
        <property name="userList">
            <list>
                <value>dafai0012</value>
                <value>dafai0013</value>
                <value>dafai0014</value>
                <value>dafai0015</value>
                <value>dafai0016</value>
                <value>dafai0017</value>
                <value>dafai0018</value>
                <value>dafai0019</value>
                <value>dafai0020</value>
                <value>dafai0021</value>
                <value>dafai0022</value>
                <value>dafai0023</value>
                <value>dafai0024</value>
                <value>dafai0025</value>
                <value>dafai0026</value>
                <value>dafai0027</value>
                <value>dafai0028</value>
                <value>dafai0029</value>
                <value>dafai0030</value>
                <value>dafai0031</value>
                <value>dafai0032</value>
                <value>dafai0033</value>
                <value>dafai0034</value>
                <value>dafai0035</value>
                <value>dafai0036</value>
                <value>dafai0037</value>
                <value>dafai0038</value>
                <value>dafai0039</value>
                <value>dafai0040</value>
                <value>dafai0041</value>
                <value>dafai0042</value>
                <value>dafai0043</value>
                <value>dafai0044</value>
                <value>dafai0045</value>
                <value>dafai0046</value>
                <value>dafai0047</value>
                <value>dafai0048</value>
                <value>dafai0049</value>
                <value>dafai0050</value>
                <value>dafai0051</value>
                <value>dafai0052</value>
                <value>dafai0053</value>
                <value>dafai0054</value>
                <value>dafai0055</value>
                <value>dafai0056</value>
                <value>dafai0057</value>
                <value>dafai0058</value>
                <value>dafai0059</value>
                <value>dafai0060</value>
                <value>dafai0061</value>
                <value>dafai0062</value>
                <value>dafai0063</value>
                <value>dafai0064</value>
                <value>dafai0065</value>
                <value>dafai0066</value>
                <value>dafai0067</value>
                <value>dafai0068</value>
                <value>dafai0069</value>
                <value>dafai0070</value>
                <value>dafai0071</value>
                <value>dafai0072</value>
                <value>dafai0073</value>
                <value>dafai0074</value>
                <value>dafai0075</value>
                <value>dafai0076</value>
                <value>dafai0077</value>
                <value>dafai0078</value>
                <value>dafai0079</value>
                <value>dafai0080</value>
                <value>dafai0081</value>
                <value>dafai0082</value>
                <value>dafai0083</value>
                <value>dafai0084</value>
                <value>dafai0085</value>
                <value>dafai0086</value>
                <value>dafai0087</value>
                <value>dafai0088</value>
                <value>dafai0089</value>
                <value>dafai0090</value>
                <value>dafai0091</value>
                <value>dafai0092</value>
                <value>dafai0093</value>
                <value>dafai0094</value>
                <value>dafai0095</value>
                <value>dafai0096</value>
                <value>dafai0097</value>
                <value>dafai0098</value>
                <value>dafai0099</value>
                <value>dafai0100</value>
                <value>dafai0101</value>
                <value>dafai0102</value>
                <value>dafai0103</value>
                <value>dafai0104</value>
                <value>dafai0105</value>
                <value>dafai0106</value>
                <value>dafai0107</value>
                <value>dafai0108</value>
                <value>dafai0109</value>
                <value>dafai0110</value>
                <value>dafai0111</value>
                <value>dafai0112</value>
                <value>dafai0113</value>
                <value>dafai0114</value>
                <value>dafai0115</value>
                <value>dafai0116</value>
                <value>dafai0117</value>
                <value>dafai0118</value>
                <value>dafai0119</value>
                <value>dafai0120</value>
                <value>dafai0121</value>
                <value>dafai0122</value>
                <value>dafai0123</value>
                <value>dafai0124</value>
                <value>dafai0125</value>
                <value>dafai0126</value>
                <value>dafai0127</value>
                <value>dafai0128</value>
                <value>dafai0129</value>
                <value>dafai0130</value>
                <value>dafai0131</value>
                <value>dafai0132</value>
                <value>dafai0133</value>
                <value>dafai0134</value>
                <value>dafai0135</value>
                <value>dafai0136</value>
                <value>dafai0137</value>
                <value>dafai0138</value>
                <value>dafai0139</value>
                <value>dafai0140</value>
                <value>dafai0141</value>
                <value>dafai0142</value>
                <value>dafai0143</value>
                <value>dafai0144</value>
                <value>dafai0145</value>
                <value>dafai0146</value>
                <value>dafai0147</value>
                <value>dafai0148</value>
                <value>dafai0149</value>
                <value>dafai0150</value>
                <value>dafai0151</value>
                <value>dafai0152</value>
                <value>dafai0153</value>
                <value>dafai0154</value>
                <value>dafai0155</value>
                <value>dafai0156</value>
                <value>dafai0157</value>
                <value>dafai0158</value>
                <value>dafai0159</value>
                <value>dafai0160</value>
                <value>dafai0161</value>
                <value>dafai0162</value>
                <value>dafai0163</value>
                <value>dafai0164</value>
                <value>dafai0165</value>
                <value>dafai0166</value>
                <value>dafai0167</value>
                <value>dafai0168</value>
                <value>dafai0169</value>
                <value>dafai0170</value>
                <value>dafai0171</value>
                <value>dafai0172</value>
                <value>dafai0173</value>
                <value>dafai0174</value>
                <value>dafai0175</value>
                <value>dafai0176</value>
                <value>dafai0177</value>
                <value>dafai0178</value>
                <value>dafai0179</value>
                <value>dafai0180</value>
                <value>dafai0181</value>
                <value>dafai0182</value>
                <value>dafai0183</value>
                <value>dafai0184</value>
                <value>dafai0185</value>
                <value>dafai0186</value>
                <value>dafai0187</value>
                <value>dafai0188</value>
                <value>dafai0189</value>
                <value>dafai0190</value>
                <value>dafai0191</value>
                <value>dafai0192</value>
                <value>dafai0193</value>
                <value>dafai0194</value>
                <value>dafai0195</value>
                <value>dafai0196</value>
                <value>dafai0197</value>
                <value>dafai0198</value>
                <value>dafai0199</value>
                <value>dafai0200</value>
                <value>dafai0201</value>
                <value>dafai0202</value>
                <value>dafai0203</value>
                <value>dafai0204</value>
                <value>dafai0205</value>
                <value>dafai0206</value>
                <value>dafai0207</value>
                <value>dafai0208</value>
                <value>dafai0209</value>
                <value>dafai0210</value>
                <value>dafai0211</value>
                <value>dafai0212</value>
                <value>dafai0213</value>
                <value>dafai0214</value>
                <value>dafai0215</value>
                <value>dafai0216</value>
                <value>dafai0217</value>
                <value>dafai0218</value>
                <value>dafai0219</value>
                <value>dafai0220</value>
                <value>dafai0221</value>
                <value>dafai0222</value>
                <value>dafai0223</value>
                <value>dafai0224</value>
                <value>dafai0225</value>
                <value>dafai0226</value>
                <value>dafai0227</value>
                <value>dafai0228</value>
                <value>dafai0229</value>
                <value>dafai0230</value>
                <value>dafai0231</value>
                <value>dafai0232</value>
                <value>dafai0233</value>
                <value>dafai0234</value>
                <value>dafai0235</value>
                <value>dafai0236</value>
                <value>dafai0237</value>
                <value>dafai0238</value>
                <value>dafai0239</value>
                <value>dafai0240</value>
                <value>dafai0241</value>
                <value>dafai0242</value>
                <value>dafai0243</value>
                <value>dafai0244</value>
                <value>dafai0245</value>
                <value>dafai0246</value>
                <value>dafai0247</value>
                <value>dafai0248</value>
                <value>dafai0249</value>
                <value>dafai0250</value>
                <value>dafai0251</value>
                <value>dafai0252</value>
                <value>dafai0253</value>
                <value>dafai0254</value>
                <value>dafai0255</value>
                <value>dafai0256</value>
                <value>dafai0257</value>
                <value>dafai0258</value>
                <value>dafai0259</value>
                <value>dafai0260</value>
                <value>dafai0261</value>
                <value>dafai0262</value>
                <value>dafai0263</value>
                <value>dafai0264</value>
                <value>dafai0265</value>
                <value>dafai0266</value>
                <value>dafai0267</value>
                <value>dafai0268</value>
                <value>dafai0269</value>
                <value>dafai0270</value>
                <value>dafai0271</value>
                <value>dafai0272</value>
                <value>dafai0273</value>
                <value>dafai0274</value>
                <value>dafai0275</value>
                <value>dafai0276</value>
                <value>dafai0277</value>
                <value>dafai0278</value>
                <value>dafai0279</value>
                <value>dafai0280</value>
                <value>dafai0281</value>
                <value>dafai0282</value>
                <value>dafai0283</value>
                <value>dafai0284</value>
                <value>dafai0285</value>
                <value>dafai0286</value>
                <value>dafai0287</value>
                <value>dafai0288</value>
                <value>dafai0289</value>
                <value>dafai0290</value>
                <value>dafai0291</value>
                <value>dafai0292</value>
                <value>dafai0293</value>
                <value>dafai0294</value>
                <value>dafai0295</value>
                <value>dafai0296</value>
                <value>dafai0297</value>
                <value>dafai0298</value>
                <value>dafai0299</value>
                <value>dafai0300</value>
                <value>dafai0301</value>
                <value>dafai0302</value>
                <value>dafai0303</value>
                <value>dafai0304</value>
                <value>dafai0305</value>
                <value>dafai0306</value>
                <value>dafai0307</value>
                <value>dafai0308</value>
                <value>dafai0309</value>
                <value>dafai0310</value>
                <value>dafai0311</value>
                <value>dafai0312</value>
                <value>dafai0313</value>
                <value>dafai0314</value>
                <value>dafai0315</value>
                <value>dafai0316</value>
                <value>dafai0317</value>
                <value>dafai0318</value>
                <value>dafai0319</value>
                <value>dafai0320</value>
                <value>dafai0321</value>
                <value>dafai0322</value>
                <value>dafai0323</value>
                <value>dafai0324</value>
                <value>dafai0325</value>
                <value>dafai0326</value>
                <value>dafai0327</value>
                <value>dafai0328</value>
                <value>dafai0329</value>
                <value>dafai0330</value>
                <value>dafai0331</value>
                <value>dafai0332</value>
                <value>dafai0333</value>
                <value>dafai0334</value>
                <value>dafai0335</value>
                <value>dafai0336</value>
                <value>dafai0337</value>
                <value>dafai0338</value>
                <value>dafai0339</value>
                <value>dafai0340</value>
                <value>dafai0341</value>
                <value>dafai0342</value>
                <value>dafai0343</value>
                <value>dafai0344</value>
                <value>dafai0345</value>
                <value>dafai0346</value>
                <value>dafai0347</value>
                <value>dafai0348</value>
                <value>dafai0349</value>
                <value>dafai0350</value>
                <value>dafai0351</value>
                <value>dafai0352</value>
                <value>dafai0353</value>
                <value>dafai0354</value>
                <value>dafai0355</value>
                <value>dafai0356</value>
                <value>dafai0357</value>
                <value>dafai0358</value>
                <value>dafai0359</value>
                <value>dafai0360</value>
                <value>dafai0361</value>
                <value>dafai0362</value>
                <value>dafai0363</value>
                <value>dafai0364</value>
                <value>dafai0365</value>
                <value>dafai0366</value>
                <value>dafai0367</value>
                <value>dafai0368</value>
                <value>dafai0369</value>
                <value>dafai0370</value>
                <value>dafai0371</value>
                <value>dafai0372</value>
                <value>dafai0373</value>
                <value>dafai0374</value>
                <value>dafai0375</value>
                <value>dafai0376</value>
                <value>dafai0377</value>
                <value>dafai0378</value>
                <value>dafai0379</value>
                <value>dafai0380</value>
                <value>dafai0381</value>
                <value>dafai0382</value>
                <value>dafai0383</value>
                <value>dafai0384</value>
                <value>dafai0385</value>
                <value>dafai0386</value>
                <value>dafai0387</value>
                <value>dafai0388</value>
                <value>dafai0389</value>
                <value>dafai0390</value>
                <value>dafai0391</value>
                <value>dafai0392</value>
                <value>dafai0393</value>
                <value>dafai0394</value>
                <value>dafai0395</value>
                <value>dafai0396</value>
                <value>dafai0397</value>
                <value>dafai0398</value>
                <value>dafai0399</value>
                <value>dafai0400</value>
                <value>dafai0401</value>
                <value>dafai0402</value>
                <value>dafai0403</value>
                <value>dafai0404</value>
                <value>dafai0405</value>
                <value>dafai0406</value>
                <value>dafai0407</value>
                <value>dafai0408</value>
                <value>dafai0409</value>
                <value>dafai0410</value>
                <value>dafai0411</value>
                <value>dafai0412</value>
                <value>dafai0413</value>
                <value>dafai0414</value>
                <value>dafai0415</value>
                <value>dafai0416</value>
                <value>dafai0417</value>
                <value>dafai0418</value>
                <value>dafai0419</value>
                <value>dafai0420</value>
                <value>dafai0421</value>
                <value>dafai0422</value>
                <value>dafai0423</value>
                <value>dafai0424</value>
                <value>dafai0425</value>
                <value>dafai0426</value>
                <value>dafai0427</value>
                <value>dafai0428</value>
                <value>dafai0429</value>
                <value>dafai0430</value>
                <value>dafai0431</value>
                <value>dafai0432</value>
                <value>dafai0433</value>
                <value>dafai0434</value>
                <value>dafai0435</value>
                <value>dafai0436</value>
                <value>dafai0437</value>
                <value>dafai0438</value>
                <value>dafai0439</value>
                <value>dafai0440</value>
                <value>dafai0441</value>
                <value>dafai0442</value>
                <value>dafai0443</value>
                <value>dafai0444</value>
                <value>dafai0445</value>
                <value>dafai0446</value>
                <value>dafai0447</value>
                <value>dafai0448</value>
                <value>dafai0449</value>
                <value>dafai0450</value>
                <value>dafai0451</value>
                <value>dafai0452</value>
                <value>dafai0453</value>
                <value>dafai0454</value>
                <value>dafai0455</value>
                <value>dafai0456</value>
                <value>dafai0457</value>
                <value>dafai0458</value>
                <value>dafai0459</value>
                <value>dafai0460</value>
                <value>dafai0461</value>
                <value>dafai0462</value>
                <value>dafai0463</value>
                <value>dafai0464</value>
                <value>dafai0465</value>
                <value>dafai0466</value>
                <value>dafai0467</value>
                <value>dafai0468</value>
                <value>dafai0469</value>
                <value>dafai0470</value>
                <value>dafai0471</value>
                <value>dafai0472</value>
                <value>dafai0473</value>
                <value>dafai0474</value>
                <value>dafai0475</value>
                <value>dafai0476</value>
                <value>dafai0477</value>
                <value>dafai0478</value>
                <value>dafai0479</value>
                <value>dafai0480</value>
                <value>dafai0481</value>
                <value>dafai0482</value>
                <value>dafai0483</value>
                <value>dafai0484</value>
                <value>dafai0485</value>
                <value>dafai0486</value>
                <value>dafai0487</value>
                <value>dafai0488</value>
                <value>dafai0489</value>
                <value>dafai0490</value>
                <value>dafai0491</value>
                <value>dafai0492</value>
                <value>dafai0493</value>
                <value>dafai0494</value>
                <value>dafai0495</value>
                <value>dafai0496</value>
                <value>dafai0497</value>
                <value>dafai0498</value>
                <value>dafai0499</value>
                <value>dafai0500</value>
                <value>dafai0501</value>
                <value>dafai0502</value>
                <value>dafai0503</value>
                <value>dafai0504</value>
                <value>dafai0505</value>
                <value>dafai0506</value>
                <value>dafai0507</value>
                <value>dafai0508</value>
                <value>dafai0509</value>
                <value>dafai0510</value>
                <value>dafai0511</value>
                <value>dafai0512</value>
                <value>dafai0513</value>
                <value>dafai0514</value>
                <value>dafai0515</value>
                <value>dafai0516</value>
                <value>dafai0517</value>
                <value>dafai0518</value>
                <value>dafai0519</value>
                <value>dafai0520</value>
                <!--<value>dafai1318</value>-->
                <!--<value>dafai1319</value>-->
                <!--<value>dafai1320</value>-->
                <!--<value>dafai1321</value>-->
                <!--<value>dafai1322</value>-->
                <!--<value>dafai1323</value>-->
                <!--<value>dafai1324</value>-->
                <!--<value>dafai1325</value>-->
                <!--<value>dafai1326</value>-->
                <!--<value>dafai1327</value>-->
                <!--<value>dafai1328</value>-->
                <!--<value>dafai1329</value>-->
                <!--<value>dafai1330</value>-->
                <!--<value>dafai1331</value>-->
                <!--<value>dafai1332</value>-->
                <!--<value>dafai1333</value>-->
                <!--<value>dafai1334</value>-->
                <!--<value>dafai1335</value>-->
                <!--<value>dafai1336</value>-->
                <!--<value>dafai1337</value>-->
                <!--<value>dafai1338</value>-->
                <!--<value>dafai1339</value>-->
                <!--<value>dafai1340</value>-->
                <!--<value>dafai1341</value>-->
                <!--<value>dafai1342</value>-->
                <!--<value>dafai1343</value>-->
                <!--<value>dafai1344</value>-->
                <!--<value>dafai1345</value>-->
                <!--<value>dafai1346</value>-->
                <!--<value>dafai1347</value>-->
                <!--<value>dafai1348</value>-->
                <!--<value>dafai1349</value>-->
                <!--<value>dafai1350</value>-->
                <!--<value>dafai1351</value>-->
                <!--<value>dafai1352</value>-->
                <!--<value>dafai1353</value>-->
                <!--<value>dafai1354</value>-->
                <!--<value>dafai1355</value>-->
                <!--<value>dafai1356</value>-->
                <!--<value>dafai1357</value>-->
                <!--<value>dafai1358</value>-->
                <!--<value>dafai1359</value>-->
                <!--<value>dafai1360</value>-->
                <!--<value>dafai1361</value>-->
                <!--<value>dafai1362</value>-->
                <!--<value>dafai1363</value>-->
                <!--<value>dafai1364</value>-->
                <!--<value>dafai1365</value>-->
                <!--<value>dafai1366</value>-->
                <!--<value>dafai1367</value>-->
            </list>
        </property>
    </bean>

    <bean id="token" class="pers.dafacloud.entities.Token">
        <property name="tokenList">
            <list>
                <value>d818e55450e64d798af94b8e00015108</value>
                <value>b5518a82824c4322a92a28061d9022f0</value>
                <value>e8c6df1a9d8f412b87abcb5159935c81</value>
                <value>b240706d74604bc4899fce8143af4905</value>
                <value>21e01a4b55b04fb48af8a11202f4640d</value>
                <value>52e72226e8cc44eb98f312453200a7eb</value>
                <value>557d7de4533d44e6a39a33d173b9646b</value>
                <value>c57077170aa44603b337f2c6d4ccfaff</value>
                <value>79526eb4d0e34e1782cee01a22ab8e19</value>
                <value>baf1483259be48c48d090f1dbbf80ec4</value>
                <value>fb79f9bf2b6c42c2a8b063dae649afb2</value>
                <value>de821a6f68b94d2ea598f249111440f8</value>
                <value>0ffbe05b5b4a47efb1b71bfb816a8996</value>
            </list>
        </property>
    </bean>


</beans>


