<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间，用于隔离sql语句的，后续会有重要作用
	#{} 占位符 相当于jdbc的？
	${} 是字符串拼接指令，如果入参为普通数据类型{}内部只能写value
-->
<mapper namespace="pers.dafacloud.mapper.tenantOpenMessage.TenantOpenMessageMapper">

    <select id="getOpenNumber" parameterType="Map" resultType="Map">
		select
		open_number  openNumber
		from dafacloud_lottery.tenant_open_message
		where lottery_code = #{lotteryCode}
		and tenant_code = #{tenantCode}
		order  by  id desc
		limit 60
	</select>

	<select id="getGameOpenNumber" resultType="Map">
		select
		open_number openNumber,
		DATE_FORMAT(gmt_created,'%Y-%m-%d %H:%i:%s') gmtCreated,
		issue  issue
		from dafacloud_game.game_open_message
		where game_code = 2005
-- 		and DATE_FORMAT(gmt_created,'%Y-%m-%d') = '2020-06-23'
		and gmt_created > '2020-06-22 12:30:00'
		order by id desc
		limit 10000
	</select>

	<select id="getLotteryOpenNumber" resultType="Map">
		select
		open_number openNumber,
		DATE_FORMAT(gmt_created,'%Y-%m-%d %H:%i:%s') gmtCreated,
		issue  issue
		from dafacloud_lottery.lottery_open_message
		where lottery_code = 1008
-- 		and DATE_FORMAT(gmt_created,'%Y-%m-%d') = '2020-06-22'
		order by id desc
		limit 60000
	</select>
</mapper>