<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间，用于隔离sql语句的，后续会有重要作用
	#{} 占位符 相当于jdbc的？
	${} 是字符串拼接指令，如果入参为普通数据类型{}内部只能写value
-->
<mapper namespace="pers.dafacloud.mapper.onlineQestion.OnlineQuestionMapper">
    <!--
        id : sql id;
        parameterType:入参的数据类型
        resultType:返回结果数据类型
     -->
    <!--查询数据-->
    <select id="getQuestion" parameterType="Map" resultType="java.util.HashMap" flushCache="true" useCache="true">
        select
        id , -- id 自增
        question_name questionName, -- '简介'
        description , -- '描述'
        type , -- bug,需求,优化,运维
        page , -- '所属页面'
        module, -- '所属模块'
        tester_reply testerReply,-- '测试回复',
        is_solve isSolve,-- '是否解决',
        develop ,
        on_duty tester,
        DATE_FORMAT(question_date,'%Y-%m-%d') questionDate
        from dafacloud_online_question
        <where>
            <if test="isSolve != null and isSolve != '' and isSolve!=-1 or isSolve == 0  ">
                AND is_solve = #{isSolve}
            </if>
            <if test="type!=null and type != '' and type != -1 or type == 0">
                AND type = #{type}
            </if>
            <if test="tester!=null and tester != '-1'.toString() and tester != '' ">
                AND on_duty like CONCAT(CONCAT('%',#{tester}),'%')
            </if>
            <if test="questionName!=null and questionName != '' ">
                AND question_name like CONCAT(CONCAT('%',#{questionName}),'%')
            </if>

            <if test="startQuestionDate!=null and startQuestionDate != '' and endQuestionDate!=null and endQuestionDate != '' ">
                AND DATE_FORMAT(question_date,'%Y-%m-%d') between #{startQuestionDate} and #{endQuestionDate}
            </if>
        </where>
        order by question_date desc,insertTime desc
        limit #{pageNum},#{pageSize}
    </select>

    <!--查询数据量-->
    <select id="getQuestionCount" parameterType="Map" resultType="java.lang.Integer" flushCache="true" useCache="true">
        select count(1) from dafacloud_online_question
        <where>
            <if test="isSolve != null and isSolve != '' and isSolve!=-1 or isSolve == 0  ">
                AND is_solve = #{isSolve}
            </if>
            <if test="type!=null and type != '' and type != -1 or type == 0">
                AND type = #{type}
            </if>
            <if test="tester!=null and tester != '-1'.toString() and tester != '' ">
                AND on_duty like CONCAT(CONCAT('%',#{tester}),'%')
            </if>
            <if test="questionName!=null and questionName != '' ">
                AND question_name like CONCAT(CONCAT('%',#{questionName}),'%')
            </if>

            <if test="startQuestionDate!=null and startQuestionDate != '' and endQuestionDate!=null and endQuestionDate != '' ">
                AND DATE_FORMAT(question_date,'%Y-%m-%d') between #{startQuestionDate} and #{endQuestionDate}
            </if>
        </where>
    </select>
    <!--导出数据-->
    <select id="exportQuestion" parameterType="Map" resultType="pers.dafacloud.model.OnlineQuestion" flushCache="true" useCache="true">
        select
        (@i:=@i+1) num,
        a.id , -- id 自增
        a.question_name questionName, -- '简介'
        a.description , -- '描述'
        a.type , -- bug,需求,优化,运维
--         page , -- '所属页面'
--         module, -- '所属模块'
        a.tester_reply testerReply,-- '测试回复',
        a.is_solve isSolve,-- '是否解决',
        a.develop ,
        a.on_duty tester,
        DATE_FORMAT(question_date,'%Y-%m-%d') questionDate
        from dafacloud_online_question a,(select @i:=0) t
        <where>
            <if test="isSolve != null and isSolve != '' and isSolve!=-1 or isSolve == 0  ">
                AND a.s_solve = #{isSolve}
            </if>
            <if test="type!=null and type != '' and type != -1 or type == 0">
                AND a.type = #{type}
            </if>
            <if test="tester!=null and tester != '-1'.toString() and tester != '' ">
                AND a.on_duty like CONCAT(CONCAT('%',#{tester}),'%')
            </if>
            <if test="questionName!=null and questionName != '' ">
                AND a.question_name like CONCAT(CONCAT('%',#{questionName}),'%')
            </if>
            <if test="startQuestionDate!=null and startQuestionDate != '' and endQuestionDate!=null and endQuestionDate != '' ">
                AND DATE_FORMAT(a.question_date,'%Y-%m-%d') between #{startQuestionDate} and #{endQuestionDate}
            </if>
        </where>
        order by a.question_date desc,a.insertTime desc
    </select>

    <insert id="addQuestion" parameterType="Map" flushCache="true">
        insert into dafacloud_online_question(
		-- id , -- id 自增
        question_name , -- '简介'
        description , -- '描述'
        type , -- bug,需求,优化,运维
        page , -- '所属页面'
        module, -- '所属模块'
        tester_reply ,-- '测试回复',
        is_solve ,-- '是否解决',
        develop ,-- '开发人员',
        on_duty, -- '值班人员',
        question_date
		)values (
			#{questionName}
            ,#{description}
            ,#{type}
            ,#{page}
            ,#{module}
            ,#{testerReply}
            ,#{isSolve}
            ,#{develop}
            ,#{tester}
            ,#{questionDate}
		)
    </insert>

    <delete id="deleteQuestion" parameterType="java.lang.Integer">
        delete  from  dafacloud_online_question where  id = #{tester};
    </delete>

    <update id="updateQuestion" parameterType="Map">
        update dafacloud_online_question
        <set>
            <if test="questionName != null">
                question_name = #{questionName},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="page != null">
                page = #{page},
            </if>
            <if test="module != null">
                module = #{module},
            </if>
            <if test="testerReply != null">
                tester_reply = #{testerReply},
            </if>
            <if test="isSolve != null">
                is_solve = #{isSolve},
            </if>
            <if test="develop != null">
                develop = #{develop},
            </if>
            <if test="tester != null">
                on_duty = #{tester},
            </if>
            <if test="questionDate != null">
                question_date = #{questionDate},
            </if>
        </set>
        where id = #{id};
    </update>

</mapper>