<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间，用于隔离sql语句的，后续会有重要作用
	#{} 占位符 相当于jdbc的？
	${} 是字符串拼接指令，如果入参为普通数据类型{}内部只能写value
-->
<mapper namespace="pers.dafacloud.mapper.aliBetContent.AliBetContentMapper">
    <select id="getBetContentMapper" resultType="java.util.Map">
		select
		  content
		from dafa_cloud.bet_content
		where  content_type = #{contentType}
		and lottery_type = #{lotteryType}
	</select>

    <select id="getBetContentMapperPro" resultType="java.util.Map">
		SELECT DISTINCT
        CONCAT(CONCAT(right(play_detail_code,3)),'`',betting_number,'`',betting_amount,'`',betting_count,'`',graduation_count,'`',betting_unit) content,
        2 AS contentType,
        #{lotteryType} AS lotteryType
        FROM betting_orders_info_yct
        WHERE lottery_code = #{lotteryCodeFrom}
        and is_single = 0
        ORDER BY id desc
        limit 10000;
	</select>

    <select id="getAliCount" resultType="java.lang.Integer">
		SELECT count(1)
        FROM dafa_cloud.bet_content
        WHERE lottery_type = #{lotteryType}
        and content_type =#{contentType};
	</select>

    <insert id="insertBetContent" parameterType="java.util.List" keyProperty="id">
        insert into dafa_cloud.bet_content(
        content,
        content_type,
        lottery_type
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.content},
            #{item.contentType},
            #{item.lotteryType}
            )
        </foreach>
    </insert>
</mapper>