<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.dafagame.mapper.BattleDetailsMapper">
    <select id="getBattleDetailList" resultType="java.util.Map">
		select
		`id`,
		`inning`,
		`init_point`,
		`player_type`,
		`player_identity`,
		`result`,
		`hands`,
		`is_clear`,
		`play_times`,
		`gmt_created`,
		`gmt_modified`
		from dafagame_game.battle_details
		where  id > #{maxId} limit 10000
	</select>

    <insert id="addBattleDetailList" parameterType="java.util.List">
		insert into dafagame_game.battle_details_20200428
		(
		`inning`,
		`init_point`,
		`player_type`,
		`player_identity`,
		`result`,
		`hands`,
		`is_clear`,
		`play_times`,
		`gmt_created`,
		`gmt_modified`
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.inning},
			#{item.init_point},
			#{item.player_type},
			#{item.player_identity},
			#{item.result},
			#{item.hands},
			#{item.is_clear},
			#{item.play_times},
			#{item.gmt_created},
			#{item.gmt_modified}
			)
		</foreach>
	</insert>
</mapper>