<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.dafagame.mapper.PlatProfitMapper">
    <select id="getbetUserMulti" resultType="java.util.Map">
		select game_code as gameCode,
			date as date,sum(bet_amount) as betAmount,
			sum(profit_amount) as profitAmount,
			sum(bet_odds) as betOdds,
			sum(service_amount) as serviceAmount
			from (
				select game_code,date,sum(bet_amount) as bet_amount,sum(profit_amount) as profit_amount,sum(bet_odds) as bet_odds, 0 as service_amount
					from dafagame_report.bet_user_multi
					where  date between '2020-02-01' and '2020-02-28'
					and tenant_code in (select tenant_code from dafagame_report.tenant_config where is_test = 0) group by game_code
				union all
				select game_code,date,0,0,0,sum(service_amount) as service_amount
					from dafagame_report.service_user_multi
					where  date between '2020-02-01' and '2020-02-28'
					and tenant_code in (select tenant_code from dafagame_report.tenant_config where is_test = 0)
					group by game_code
					) b group by game_code;
	</select>

    <select id="getBetUserBanker" resultType="java.util.Map">
		select game_code as id,
				sum(bet_amount) as betAmount,
				-- sum(${col}) as ${col2} ,
				sum(profit_amount) as profitAmount
				from dafagame_report.bet_user_banker
				where  1=1
				-- and game_code = 103
				and  tenant_code not in(select tenant_code from dafagame_report.tenant_config where is_test = 1)
				and date between '2020-02-01' and '2020-02-28'
				-- and date = '2020-02-13'
				group by game_code;
	</select>
</mapper>