<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.dafagame.mapper.RecordMultiXXMapper">
	<!--
	and gmt_created &lt; '2020-04-01'
	and user_type &lt;&gt; 1
	-->
    <select id="getRecordMultiList" resultType="java.util.Map">
		select
		`id`,
		`user_id`,
		`user_name`,
		'${tableName}' as tenant_code,
		`record_code`,
		`game_code`,
		`round_type`,
		`room_number`,
		`inning`,
		`game_detail`,
		`betting_amount`,
		`profit_amount`,
		`service_amount`,
		`return_amount`,
		`game_state`,
		`source_id`,
		`is_banker`,
		`is_bonus`,
		`user_type`,
		`gmt_created`,
		`gmt_modified`
		from dafagame_game.record_multi_${tableName}
		where gmt_created &gt; '2020-06-09 15:28:07'
		and game_code = 107

	</select>

    <insert id="addRecordMultiList" parameterType="java.util.List">
		insert into dafagame_game.record_multi_dukeduke
		(
		`user_id`,
		`user_name`,
		`tenant_code`,
		`record_code`,
		`game_code`,
		`round_type`,
		`room_number`,
		`inning`,
		`game_detail`,
		`betting_amount`,
		`profit_amount`,
		`service_amount`,
		`return_amount`,
		`game_state`,
		`source_id`,
		`is_banker`,
		`is_bonus`,
		`user_type`,
		`gmt_created`,
		`gmt_modified`)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.user_id},
			#{item.user_name},
			#{item.tenant_code},
			#{item.record_code},
			#{item.game_code},
			#{item.round_type},
			#{item.room_number},
			#{item.inning},
			#{item.game_detail},
			#{item.betting_amount},
			#{item.profit_amount},
			#{item.service_amount},
			#{item.return_amount},
			#{item.game_state},
			#{item.source_id},
			#{item.is_banker},
			#{item.is_bonus},
			#{item.user_type},
			#{item.gmt_created},
			#{item.gmt_modified}
			)
		</foreach>
	</insert>
</mapper>