<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.dafacloud.mapper.in_first.InFirstMapper">
    <insert id="addInFirstList" parameterType="java.util.List">
		insert into dafacloud_report.in_first
		(
		`date`,
		`source_id`,
		`tenant_code`,
		`user_id`,
		`grade`,
		`amount`,
		`remark`,
		`gmt_created`,
		`gmt_modified`
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.date},
			#{item.source_id},
			#{item.tenant_code},
			#{item.user_id},
			#{item.grade},
			#{item.amount},
			#{item.remark},
			#{item.gmt_created},
			#{item.gmt_modified}
			)
		</foreach>
	</insert>
</mapper>